.git
.gitignore
.env
backend/.env
frontend/.env
node_modules
backend/node_modules
frontend/node_modules
frontend/build
npm-debug.log*
Dockerfile
docker-compose.yml
docs
scripts
Thumbs.db
*.swp
*.swo
*~
.vscode
