.landing-content {
  padding-top: 120px;
}

.content-image {
  max-width: 100%;
  margin-top: 20px;
}

.landing-section {
  padding: 80px 20px;
}

.hero-section {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10% 10% 0 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
}

.hero-content {
  text-align: center;
  color: rgb(255, 255, 255);
  background: #E98810;
  padding: 40px 60px;
  border-radius: 0 100px 0 0;
  max-width: 700px;
  margin: 0;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.5rem;
  opacity: 0.9;
  max-width: 600px;
  white-space: pre-line;
}

/* Новые классы */
.content-paragraph {
  margin-top: 20px;
  font-size: 1.2rem;
}

.section-button-container {
  text-align: center;
  margin-top: 20px;
}

.loading-text {
  padding: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.25rem
  }

  .hero-content {
    padding: 20px 40px;
  }

  .hero-section {
    min-height: 50vh;
  }

  .hero-bg {
    height: 100%;
  }

  .reviews-widget > div {
    width: 100% !important;
    height: 500px !important;
  }
}